
@import url('https://fonts.googleapis.com/css?family=PT+Sans&display=swap');
body{
  font-family: 'PT Sans', sans-serif;
}
.one{
  background-image: url("https://github.com/jonnygovish/IP3/blob/master/assets/backgrounds/h_img.jpg?raw=true");
  /*background-repeat: no-repeat;
  background-size: contain;
  /* padding:100px; */
  text-align: center;
}
.one1{
  text-align: center;
  margin-top: 18%;
  margin-left: 4%;
}
.one2{
  text-align: center;
  color:white;
  margin-top:4%; 
}
.one3{
  text-align: center;
  color:white;
  margin-top: 3%;
}
.one4{
  text-align: center;
  color:white;
}
.one5{
  text-align: center;
  margin-top: 14%;
}
.two1{
  text-align: center;
  padding:50px;
}
.three{
  background-image:url("https://raw.githubusercontent.com/jonnygovish/IP3/master/assets/backgrounds/s_image.jpg"); 
}
.three1{
  text-align: center;
  padding:149px;
  color:white;
}
.four1{
  text-align: center;
  padding: 50px;
}
.five1{
  text-align: center; 
  padding:100px;
}
.five2{
  text-align: center; 
}
.six{
  background-image: url("https://raw.githubusercontent.com/jonnygovish/IP3/master/assets/backgrounds/c_image.jpg");
}
.six1{
  text-align: center; 
  padding:40px;
  color:white;
}
.six2{
  text-align: center;
  padding:30px; 
}
.six3{
  text-align: center;
  padding-bottom: 250px; 
}
#name1{
  background:transparent;
  width:28%;
  height: 30px;
  margin-right:100px;
}
#name2{
  background:transparent;
  width:28%;
  height: 30px;
  margin-right:100px;
}
::placeholder{
  color:white;
  display:flex;
  align-items:flex-start;
}
#name3{
  background: transparent;
  width: 1100px;
  height: 300px;
}
#mybtn{
background: transparent;
}
.six4{
  text-align: center;
}
.seven{
  text-align: center;
  padding:30px;
}
.seven1{
  margin-left:20px;
}
.eight{
  text-align: center;
  padding:10px;
}
#put1,#push1,#pull1{
  display: none;
}
.row{
text-align: center;
  /*display: flex;*/
  /* flex-wrap: wrap; */
  /* justify-content: space-between; */
}