
@import url('https://fonts.googleapis.com/css?family=PT+Sans&display=swap');
body{
  font-family: 'PT Sans', sans-serif;
}
.one{
  background-image: url("https://github.com/jonnygovish/IP3/blob/master/assets/backgrounds/h_img.jpg?raw=true");
  /*background-repeat: no-repeat;
  background-size: contain;
  /* padding:100px; */
  text-align: center;
}
.one1{
  text-align: center;
  margin-top: 18%;
  margin-left: 4%;
}
.one2{
  text-align: center;
  color:white;
  margin-top:4%; 
}
.one3{
  text-align: center;
  color:white;
  margin-top: 3%;
}
.one4{
  text-align: center;
  color:white;
}
.one5{
  text-align: center;
  margin-top: 14%;
}
.two1{
  text-align: center;
  padding:50px;
}
.three{
  background-image:url("https://raw.githubusercontent.com/jonnygovish/IP3/master/assets/backgrounds/s_image.jpg"); 
}
.three1{
  text-align: center;
  padding:149px;
  color:white;
}
.four1{
  text-align: center;
  padding: 50px;
}
.five1{
  text-align: center; 
  padding:100px;
}
.five1a{
  text-align: center; 
  margin-bottom: 50px;
}
.six{
  background-image: url("https://raw.githubusercontent.com/jonnygovish/IP3/master/assets/backgrounds/c_image.jpg");
}
.six1{
  text-align: center; 
  padding:40px;
  color:white;
}
.six2{
  text-align: center;
  padding:30px; 
}
.six3{
  text-align: center;
  padding-bottom: 250px; 
}
#name1{
  background:transparent;
  width:28%;
  height: 30px;
  margin-right:100px;
}
#name2{
  background:transparent;
  width:28%;
  height: 30px;
  margin-right:100px;
}
::placeholder{
  color:white;
  display:flex;
  align-items:flex-start;
}
#name3{
  background: transparent;
  width: 1100px;
  height: 300px;
}
#mybtn{
background: transparent;
}
.six4{
  text-align: center;
}
.seven{
  text-align: center;
  padding:30px;
}
.seven1{
  margin-left:20px;
}
.eight{
  text-align: center;
  padding:10px;
}
#put1,#push1,#pull1{
  display: none;
}
.row{
text-align: center;
}


.imgOne{
  background-image: url('../images/work4.jpg');
  background-repeat: no-repeat;
  height: 150px;
}
.imgOne:hover{
    background-color:white;
    opacity:0.3 ;
}
#get1 {
   display:none; 
   color:red;
}


.imgtwo{
  background-image: url('../images/work3.jpg');
  background-repeat: no-repeat;
  height: 150px;
}
.imgtwo:hover{
  background-color:white;
  opacity:0.3 ;
}
#give1 {
  display:none; 
  color: red;
}

.imgthree{
  background-image: url('../images/work2.jpg');
  background-repeat: no-repeat;
  height: 150px;
}
.imgthree:hover{
  background-color:white;
  opacity:0.3 ;
}
#gain1 {
  display:none; 
  color: red;
}

.imgfour{
  background-image: url('../images/work1.jpg');
  background-repeat: no-repeat;
  height: 150px;
}
.imgfour:hover{
  background-color:white;
  opacity:0.3 ;
}
#won1 {
  display:none; 
  color: red;
}

.imgfive{
  background-image: url('../images/work5.jpg');
  background-repeat: no-repeat;
  height: 150px;
}
.imgfive:hover{
  background-color:white;
  opacity:0.3 ;
}
#will1 {
  display:none; 
  color: red;
}


.imgsix{
  background-image: url('../images/work6.jpg');
  background-repeat: no-repeat;
  height: 150px;
}
.imgsix:hover{
  background-color:white;
  opacity:0.3 ;
}
#work1 {
  display:none; 
  color: red;
}


.imgseven{
  background-image: url('../images/work7.jpg');
  background-repeat: no-repeat;
  height: 150px;
}
.imgseven:hover{
  background-color:white;
  opacity:0.3 ;
}
#want1 {
  display:none; 
  color: red;
}


.imgeight{
  background-image: url('../images/work8.jpg');
  background-repeat: no-repeat;
  height: 150px;
}
.imgeight:hover{
  background-color:white;
  opacity:0.3 ;
}
#wish1 {
  display:none; 
  color: red;
}


.part2{
  margin-top: 20px;
}